# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\kim.donghy\OneDrive - Northeastern University\School\Summer 21 MSCS\cs5500_foundationsofsoftware\project\project\DtoDao\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
