<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Fitness App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">
    <h1>Welcome to the My Fitness App</h1>
    <!--Link to take users to summary list page -->
    <a class="h2" th:href="@{/activities}">My Fitness Summary</a>
    <hr>
    <h3>Brought to you by Zachary Sylvane, Pradeepti Reddy Tandra and Sam Donghyeon Kim</h3>
</div>
</body>
</html>